@media screen and (max-width: 2000px) {
  .page {
    margin: 0 auto;
    padding: 0 0 60px;
    background-color: #000;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    color: #fff;
    font-family: "Inter", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    /* border: 1px solid red; */
  }
}

@media screen and (max-width: 1280px) {
  .page {
    margin: 0;
    padding: 0 0 36px;
    min-width: 320px;
    max-width: 1280px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
  }
}
