.profile__avatar-container {
  margin: 0;
  padding: 0;
  background-color: transparent;
  opacity: 1;
  position: relative;
  width: min-content;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.5;
}

.profile__avatar-container:hover .profile__avatar-edit {
  display: block;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .profile__avatar-container {
    margin: 0 auto;
  }
}
