.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/element-delete.png);
    background-repeat: no-repeat;
    visibility: visible;
    transition: opacity 0.3 ease;
    border: 0;
}

.element__delete:hover {
    cursor: pointer;
    opacity: 0.6;
}