.element__like {
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  background-size: 22px 19px;
  border: 0;
  margin: 0;
  padding: 0;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
