/* @import url(../header/__logo/header__logo.css); */

.header {
  display: flex;
  justify-content: space-between;
  width: min(880px, calc(100vw - 60px));
  margin: 0 auto 40px;
  padding: 45px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 720px) {
  .header {
    margin: 0 0 42px;
    padding: 27px 30px 30.6px;
  }
}
